<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>
    </title>
    <link href="css/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body oncontextmenu="self.event.returnValue=false" onselectstart="return false">
    <!-- <a href="https://github.com/b-z/tanktank">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
            alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
    </a> -->
    <!-- <img id="rect1" src="img/rect1.png" width=341 height=1024> -->
    <div id="gameoverContainer_dark" class="overcontainerDark">
    </div>
    <div id="gameover" class="over font_style">
        Please enter your name:<br><br>
        <input type="text" id="username" value="" onkeydown="check_name()" class="font_style" />
        <input type="button" value="ok" onclick="change_name()" class="font_style" />
    </div>
    <div id="block2" class="font_style">
        <canvas id="canv" tabindex="0" width="1024px" height="1024px">Please use Chrome</canvas>
    </div>
    <div id="block1">
        <div id="game_title" class="title_style"></div><br/>
        <div id="hp" class="font_style"></div>
        <div id="mp" class="font_style"></div>
        <div id="score" class="font_style"></div>
        <div id="help" class="font_style">
        </div>
    </div>
    <!-- <img id="rect2" src="img/rect2.png" width=341 height=1024> -->
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a id="menu" class="white waves-effect waves-light btn-large btn-floating " onclick="$('.tap-target').tapTarget('open');">
            <!-- <i class="material-icons">menu</i> -->
            <svg aria-hidden="true" class="octicon octicon-mark-github hvr-grow-rotate" height="56" version="1.1" viewBox="0 0 16 16" width="56">
                <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
            </svg>
        </a>
    </div>
    <div class="tap-target teal lighten-2 white-text" data-activates="menu">
        <div class="tap-target-content">
            <h5>Authors</h5>
            <p>周伯威 Zhou Bowei
                <br> 王华清 Wang Huapang
                <br> 种璐瑶 Chong Luyao</p>
            <a class="white-text" href="https://github.com/b-z/tanktank">
                GitHub page
                <i class="material-icons" style="font-size:1rem;">link</i>
            </a>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/socket.io.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/draw.js"></script>
<script type="text/javascript" src="js/event.js"></script>
<script type="text/javascript" src="js/move.js"></script>
<script type="text/javascript" src="js/sendData.js"></script>
<script>
    var socket;
    var enter_game = function() {
        if (localStorage.getItem('tank_name') != undefined) {
            $('#gameover, #gameoverContainer_dark').remove();
            change_name(localStorage.getItem('tank_name'));
        } else {
            enter_name();
        }

        openChannel = function() {
            socket = io.connect();
            // socket = new WebSocket('<%= url %>');
            // console.log('<%= url %>');
            onOpened();
            socket.on('client update', onMessage);
        }
        // sendMessage = function(msg) {//path, params) {
        sendMessage = function(path, params) {
            var i = 0;
            for (var p in params) {
                path += (i ? '&' : '?') + p + '=' + params[p];
                i++;
            }
            // console.log(path);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', path, true);
            xhr.send();
            // if (socket!=undefined)
            //     socket.send(JSON.stringify(msg));
        };
        onOpened = function() {
            my_id = '<%= me %>';
            my_team = '<%= team %>';
            var pos = '<%- pos %>';
            pos = JSON.parse(pos);
            // console.log(pos);
            data.fpos = pos.fp;
            data.dpos = pos.dp;
            data.tank.color = my_team;
            data.tank.i = my_id;
            if (my_team == '1') {
                data.tank.x = Math.random() * 200 + 100;
                data.tank.y = Math.random() * 300 + 300;
            } else {
                data.tank.x = 1024 - Math.random() * 200 - 100;
                data.tank.y = 1024 - (Math.random() * 300 + 300);
            }

            //alert(my_id);
        }
        onMessage = function(m) {
            // console.log(m);
            // var tmp = m.data;
            // console.log(m.data);
            //if (tmp.check == undefined)
            updateData(m);
        }
        // setTimeout(initialize, 100);
        // initialize = function() {
        openChannel();
        // }

    }
</script>

<script type="text/javascript">
    loadImages();
</script>

</html>
